{% extends 'app/layouts/main.html' %}

{% block title %}
BOK | Online Shopping
{% endblock title %}

{% block content %}
<section class="bg-light py-4 my-5" >
  <div class="container">
    <div class="row">
        <div class="col-12">
          <h4 class="mb-3" style="margin-top: 30px;">{{category_name}} Product</h4>
          <hr style="border-color:#b8bfc2;">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}" style="text-decoration: none;">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'collections' %}" style="text-decoration: none;">Collections</a></li>
              <li class="breadcrumb-item active">{{category_name}}</li>
            </ol>
          </nav>
        </div>

        {% for product in products %}
        <div class="col-md-6 col-lg-3">
          <a href="{% url 'product_details' product.category.name product.name %}" style="text-decoration: none;">
            <div class="card" style="padding:10px;margin:15px;">
              <div class="text-center">
                <img src="{{product.image_link}}"  class="card-image-top justify-content-center" alt="Categories" style="width:200px; height:200px;">
                <hr>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center"style="color:black;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">{{ product.name|slice:"0:40" }}...</h5>
                  <h3 class="card-text text-center"style="color:black">₹{{ product.price|last }}</h3>
                <h5 class="text-center" style="color:black">{{ product.offer }}</h5>
                <div class="row">
                  <a href="{{product.url}}" class="btn btn-outline-primary" target="_blank">BUY</a>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}


        <nav>
          <ul class="pagination justify-content-center">
        
            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </span>
            </li>
            {% endif %}
        
            {% for num in products.paginator.page_range %}
              {% if num > products.number|add:'-3' and num < products.number|add:'3' %}
                {% if products.number == num %}
                <li class="page-item active">
                  <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
        
            {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <span class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </span>
            </li>
            {% endif %}
        
          </ul>
        </nav>
        

    </div>
  </div>
</section>
{% endblock content %}